
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aa{
    width: 25%;
    float: left;
    text-align: center;
    border: 2px solid red;
    padding: 5px;
}

 @media (max-width:767px) {
   .aa{
    width: 100%;

   } 
 }
@media (min-width: 768px) and (max-width:1023px){
    .aa{
        width: 50%;
    }
    
}

@media (min-width: 1024px) {
    .aa{
        width: 25%;
    }
    
}